version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: settlernote-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: settlernote
      MYSQL_USER: settlernote_user
      MYSQL_PASSWORD: settlernote_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
